/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Components */
@import url("components/banner.css");
@import url("components/buttons.css");
@import url("components/cards.css");
@import url("components/container.css");
@import url("components/footer.css");
@import url("components/header.css");
@import url("components/overlay.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4, p {
  font-family: Poppins;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.text-center{
  text-align: center;
}

.text-white{
  color: white;
}

.text-shadow{
  text-shadow: 0px 1px 4px black;
}


/* Custom design below! */
